.service {
  height: 70vh;
  padding: 0% 3%;
}

.service-container {
  margin: 10px 3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(248, 248, 248);
  height: 50vh;
  width: 95%;
  gap: 30px;
  border-radius: 20px;
}

.service h2 {
  font-size: 3rem;
  padding-left: 50px;
}

.services {
  height: 50vh;
  display: grid;
  width: 90%;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.service0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 45vh;
}
.service0 h3 {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.service-img {
  height: 50%;
  width: 80%;
}

.service0 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
