.service {
  height: 80vh;
  background: rgb(243, 243, 243);
  position: relative;
  padding: 1% 3%;
}

.service-container {
  padding: 10px 25px;
  height: 50vh;
  border-radius: 20px;
  /* background: linear-gradient(to left, rgb(2, 56, 60), rgb(4, 23, 49)); */
}

.service h2 {
  font-size: 3rem;
  padding-left: 50px;
}

.services {
  height: 50vh;
  display: grid;
  width: 100%;
  padding: 5px 10px;
  column-gap: 30px;
  /* grid-template-columns: repeat(auto-fit, 285px); */
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.service0 {
  padding: 2px 2px 0 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 40% 20%;
}
.service0 h3 {
  font-weight: bold;
  /* margin: 3px; */
  /* color: white; */
  color: rgb(142, 140, 140);
}

.service-img {
  height: 45%;
  /* padding: 10px; */
  width: 70%;
}

.service0 img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
