body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  /* padding-bottom: 0.8%; */
  border-bottom: rgb(177, 177, 177) solid 1.5px;
  box-shadow: 0 15px 35px rgba(175, 175, 175, 0.5);
  backdrop-filter: blur(15px);
  align-items: center;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
}

h2 {
  color: black;
  padding: 0;
}

.tabs {
  display: flex;
  width: 400px;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin: 0;
}
.tabs li {
  list-style-type: none;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 2px 0;
  align-items: center;
  flex-wrap: wrap;
  width: 30vh;
  border-radius: 20px;
  background: #000;
}

.icons li {
  font-size: 24px;
  list-style-type: none;
  cursor: pointer;
  /* opacity: 0.8; */
  transition: 0.01s;
  padding: 0;
}

#logo {
  height: 8vh;
  margin-bottom: 7px;
}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 1400px;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 800ms ease-in-out 3s normal none 1 running fadeInUp;
  padding-top: 0px;
  height: 9vh;
}
