body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1% 5% 0 5%;
  background: white;
  align-items: center;
}

h2 {
  color: black;
}

.tabs {
  background: white;
  display: flex;
  width: 400px;
  height: 10vh;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  margin-left: 10%;
}
.tabs li {
  list-style-type: none;
  font-size: 1em;
  color: black;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
h3 {
  font-weight: bold;
}

.tabs li:hover {
  transform: scale(1.06);
  opacity: 1;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 0;
  background: #000;
  align-items: center;
  width: 30vh;
  border-radius: 30px;
  height: 7vh;
}

.icons li {
  font-size: 24px;
  color: white;
  list-style-type: none;
  cursor: pointer;
  /* opacity: 0.8; */
  transition: all ease-in-out 0.3s;
}

.icons li:hover {
  transform: scale(1.06);
  opacity: 1;
}

#logo {
  height: 10vh;
}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
