@font-face {
  font-family: "Centauri";
  src: local("Centauri"), url("../../fonts/Centauri.woff") format("woff");
  font-weight: bold;
}

.hero {
  height: 80%;
  background: white;
  padding: 0 7%;
}

.hero_content {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  width: 45%;
}

.hero-container {
  display: flex;
  height: 90vh;
  overflow: hidden;

  width: 100%;
}

.hero_img {
  height: 100%;
  width: 55%;
}
.hero_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero_content h1 {
  font-size: 4.2rem;
  margin: 0;
  color: black;
}

.hero_content p {
  color: #59ce8f;
  font-size: 1.9rem;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .hero-container h1 {
    font-size: 4.1rem;
  }
  .hero-container p {
    font-size: 1.5;
  }
}
