.skill_container {
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill_img {
  height: 8vh;
  border-radius: 50%;
  background-color: rgb(246, 248, 250);
  padding: 7px;
}

.skill_img:hover {
  border: hsl(225, 4%, 78%) solid 1.7px;
}

#h3 {
  font-size: 1.6rem;
}
