.skill_container {
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill_img {
  height: 8vh;
  border-radius: 50%;
  background-color: rgb(234, 237, 239);
  padding: 7px;
}

.skill_img:hover {
  border: hsl(224, 42%, 10%) solid;
}

#h3 {
  font-size: 1.6rem;
}
