.footer {
  display: flex;
  align-items: center;
  height: 15vh;
  justify-content: space-around;
  background: #000;
}

.footer h2 {
  font-size: 2rem;
}

.icons ul li {
  font-size: 30px;
}

hr {
  width: 100px;
  margin: 0;
  height: 1px;
  border: none;
  size: 10;
}

.footer button {
  background-color: transparent;
  transition: all ease-in-out 0.3s;
}
.footer button:hover {
  transform: scale(1.15);
}
