.footer {
  display: flex;
  align-items: center;
  height: 11vh;
  justify-content: space-between;
  padding: 0 3%;
  background: rgb(255, 255, 255);
}

#foot {
  overflow: hidden;
}
.icons ul li {
  font-size: 30px;
}

.footer #backtotop {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  color: #000;
  margin-top: 5px;
  height: 7.5vh;
}
.footer #backtotop:hover {
  transform: scale(1.05);
}
