.footer {
  display: flex;
  align-items: center;
  height: 15vh;
  justify-content: space-between;
  padding: 0 3%;
  margin: 0 5%;
  background: rgb(255, 255, 255);
}

.footer h2 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.icons ul li {
  font-size: 30px;
}

.footer #backtotop {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  color: #000;
}
.footer #backtotop:hover {
  transform: scale(1.15);
}

hr {
  width: 85%;
  border: 1px solid;
}
