.contact {
  height: 100vh;
  background: white;
  padding: 4% 8% 2% 8%;
}

.contact-container {
  /* background: linear-gradient(to left, rgb(0, 0, 0), #576f72); */
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  display: flex;
  height: 100%;
}

.contact-one {
  width: 50%;
  position: relative;
  color: black;
  /* background: #0078aa; */
  background: white;

  overflow: hidden;
  padding: 5px 15px 0 50px;
}

.contact-one h2 {
  font-size: 2.5rem;
  color: black;
}

.svg {
  height: 70vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #e9b832;
  border-radius: 10px;
}

.contact-two h2 {
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

form {
  margin-top: 70px;
  margin-left: 110px;
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}

/* input {
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: none;

  background: rgb(232, 232, 232);
  transition: all ease-in-out 0.3s;
  opacity: 0.7;
  outline: none;
}

input::placeholder {
  color: gray;
  outline: none;
  opacity: 0.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:hover {
  color: black;
  outline: none;
  opacity: 1;
  border: none;
}

input[type="text"]:focus {
  opacity: 0.8;
  border-bottom: #ffafaf solid 3px;
}
input[type="email"]:focus {
  opacity: 0.8;
  border-bottom: #ffafaf solid 3px;
} */

input[type="text"],
input[type="email"] {
  background: transparent;
  border: none;
  width: 90%;
  padding: 15px;
  /* margin: 5px 0 22px 90px; */
  /* margin: 0px 90px; */
  display: inline-block;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.8;
  outline: none;
}
input[type="text"]:focus {
  opacity: 1;
  border-bottom: #44149d solid 3px;
}
input[type="email"]:focus {
  opacity: 1;
  border-bottom: #44149d solid 3px;
}
textarea {
  background: #f1f1f1;
  outline: none;
  opacity: 0.8;
  border: none;

  border-radius: 10px;
  padding: 15px;
  height: 10vh;
  width: 90%;
}

textarea:focus {
  opacity: 1;
  border-bottom: #44149d solid 3px;
}

#submit {
  padding: 10px 10px;
  border: solid #44149d;
  border-radius: 10px;
  color: #44149d;
  background: transparent;
  font-size: 1.1rem;
  font-weight: bold;
  width: 200px;
  margin-top: 20px;
  margin-left: 100px;
  transition: all ease-in-out 0.2s;
}

#submit:hover {
  background: #44149d;
  color: white;
  border: none;
  border: #44149d solid;
}

/*  */
.contact-icons {
  background: #44149d;
  display: flex;
  justify-content: space-around;
  height: 6vh;
  font-size: 25px;
  margin: 0 28%;
  padding: 0;
  border-radius: 30px;
}

.contact-icons li {
  list-style-type: none;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.contact-icons li:hover {
  transform: scale(1.11);
}

/* form */

/* media */
@media screen and (max-width: 1440px) {
  .contact-container {
    height: 90vh;
  }
  .contact {
    height: 90vh;
  }
  .contact-two {
    padding-top: 10px;
  }
}
